<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img
      class="img-fluid"
      alt="Responsive image"
      src="../../../assets/images/logo.PNG"
      width="170px"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/home']"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-house"></i>
            Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/add-mensaje']"
            routerLinkActive="active"
          >
            <img id="icon" src="../../../assets/icons/create.svg" />
            Create Messages</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/mis-mensajes']"
            routerLinkActive="active"
          >
            <img id="icon" src="../../../assets/icons/send.svg" />
            My Messages
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/app/mensajes']"
            routerLinkActive="active"
          >
            <img id="icon" src="../../../assets/icons/chatbubbles-sharp.svg" />
            See all messages</a
          >
        </li>
      </ul>
      <form class="form-inline">
        <a class="btn btn-outline-success" routerLink="/auth" *ngIf="!isLogged">
          <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
        </a>
        <button
          class="btn btn-outline-danger"
          *ngIf="isLogged"
          (click)="logOut()"
        >
          <i class="fas fa-sign-out-alt"></i>Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
